@model IEnumerable<UserTask>

@{
    Layout = "_Layout";
}

<h2>Список задач</h2>
@Html.ActionLink("Добавить задачу", "AddTask", "Tasks")
<table>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th></th>
    </tr>

    @foreach (var userTask in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => userTask.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userTask.Description)
            </td>
            <td>
                @Html.ActionLink("Удалить", "DeleteTask", "Tasks", new {userTaskId = userTask.Id})
            </td>
        </tr>
    }
</table>