@model UserTask

@{
    Layout = "_Layout";
}

<h2 class="task-title">Добавление новой задачи</h2>

<form class="form-add" method="post">
    <table>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input id="Title" name="Title" type="text">
            </td>
            <td>
                <input id="Description" name="Description" type="text">
            </td>
        </tr>
    </table>
    <input class="btn-primary signIn-btn btn-add" type="submit" value="Добавить">
</form>
