@model web4.Data.Entities.UserTask

@{
    Layout = "_Layout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function loadComments(userTaskId) {
      $.ajax({
              type: "GET",
              url: "/api/ApiTasks/GetCommentsUserTask/?userTaskId="+userTaskId
          }).done(function(jsonData) {             
               var table = document.getElementById("commentsTable");
               var tableParent = table.parentNode;
               table.parentNode.removeChild(table);
               var new_table = document.createElement("table");
               new_table.id = "commentsTable";
               $.each(jsonData, function(i, comment) {
                   var row = document.createElement("tr");
                   var td = document.createElement("td");
                   var label = document.createElement("label");
                   label.textContent = comment
                   td.appendChild(label);
                   row.appendChild(td);
                   new_table.appendChild(row);                 
               });
               tableParent.appendChild(new_table);
          });
    }
</script>
<input class="btn-primary btn-comm" type="button" onclick="loadComments('@Model.Id'); " value="Загрузить комментарии">
<table class="comments-table" id="commentsTable">
</table>